.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Jost;
  src: url(./assets/Jost-Bold.ttf);
}

.jost {
  font-family: Jost;
}

.darkBlue {
  color: #161a30;
}

/* Header Classes */

.header {
  width: 100vw;
  height: 209px;
  background-color: #f0ece5;
  position: fixed;
  top: 0px;
}

.headerTxt {
  font-size: 128px;
  font-family: Jost;
  text-decoration: none;
}

.headerTxt:hover {
  text-decoration: underline;
}

/* Side Navbar Classes */

.sideNav {
  width: 470px;
  position: fixed;
  background-color: #161a30;
  height: 100%;
  overflow-y: auto;
  top: 0px;
}

.navItem {
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
}

.itemsDiv {
  margin-top: 219px;
}

.link {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 4px;
  text-decoration: none;
}

.link:hover {
  background-color: hsl(0, 0%, 30%);
}

.navTxt {
  font-size: 40px;
  color: #f0ece5;
  font-family: Jost;
  text-decoration: none;
}


/* Home Page Classes */

.homeBg {
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-left: 470px;
}

.boxDiv {
  display: flex;
  justify-content: center;
  margin-top: 209px;
}

.box {
  margin-top: 200px;
  background-color: #161a30;
  height: 275px;
  width: 1066px;
}

.homeRules{
  font-size: 32px;
  font-family: Jost;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 247px;
  margin-bottom: 0px;
}

.homeTxt {
  font-family: Jost;
  color: #f0ece5;
  font-size: 128px;
}

/* Sum Page */

.inputNums {
  height: 140px;
  width: 360px;
  font-family: Jost;
  font-size: 86px;
  text-align: center;
  background-color: #f0ece5;
  border-radius: 20px;
}

.plus {
  font-family: Jost;
  color: #f0ece5;
  margin-left: 65px;
  margin-right: 65px;
  font-size: 128px;
}

.runBtn {
  margin-top: 100px;
  width: 470px;
  height: 120px;
  font-family: Jost;
  color: #f0ece5;
  font-size: 64px;
  border-radius: 100px;
  background-color: #161a30;
}

.apiBox {
  margin-top: 150px;
  background-color: #161a30;
  min-height: 275px;
  width: 1066px;
}

.apiRules {
  font-size: 32px;
  font-family: Jost;
  text-align: center;
  margin-top: 35px;
  padding-bottom: 145px;
  margin-bottom: 0px;
}

.sumResult {
  color: #f0ece5;
  font-size: 96px;
  font-family: Jost;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 45px;
  padding-right: 45px;
}



/* Name Time Page */

.nameTxt {
  padding-left: 50px;
  font-size: 64px;
  color: #f0ece5;
  font-family: Jost;
}

.w100 {
  width: 100%;
}

.nameInput {
  width: 710px;
  height: 63px;
  margin-bottom: 15px;
  font-size: 55px;
  background-color: #f0ece5;
}


/* Greater Less Than Page */

.greaterLessResult {
  padding: 20px;
  color: #f0ece5;
  font-size: 64px;
  font-family: Jost;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Odd or Even Page */

.inputOdd {
  height: 140px;
  width: 100%;
  font-family: Jost;
  font-size: 86px;
  text-align: center;
  background-color: #f0ece5;
  border-radius: 20px;
  margin-left: 75px;
  margin-right: 75px;
}

.oddResult {
  font-family: Jost;
  color: #f0ece5;
  text-align: center;
  padding: 20px;
  font-size: 96px;
}

/* Eight Ball Page  */
.flow {
  flex-direction: column;
}

.inputEightBall {
  height: 100px;
  width: 90%;
  font-family: Jost;
  font-size: 64px;
  text-align: center;
  background-color: #f0ece5;
}

.eightBallTxt {
  font-size: 64px;
  color: #f0ece5;
  margin-bottom: 15px;
}

.eightBallResult {
  font-size: 64px;
  color: #f0ece5;
  text-align: center;
  padding: 20px;
  font-family: Jost;
}